@import "tailwindcss";
 /* Fix: Make Enroll Now button clickable inside slider */
.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 30px;
}

.slick-slide {
  padding: 10px;
}

body {
  overflow-x: hidden;
}

